In [1]:
import numpy as np
import pandas as pd

In [3]:
#df_movies = pd.read_csv('ml-25m/movies.csv')
#df_ratings = pd.read_csv('ml-25m/ratings.csv')
df_genome_scores = pd.read_csv('../ml-25m/genome-scores.csv')
df_genome_tags = pd.read_csv('../ml-25m/genome-tags.csv')

In [4]:
df_genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [5]:
df_genome_scores.shape

(15584448, 3)

In [6]:
df_genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [7]:
df_genome_tags.shape

(1128, 2)

In [8]:
genome_tags_and_scores = pd.merge(df_genome_scores, df_genome_tags, on='tagId', how='left')
genome_tags_and_scores = genome_tags_and_scores.rename(columns = {"relevance":"tag_relevance"})

In [9]:
genome_tags_and_scores.head()

   movieId  tagId  tag_relevance           tag
0        1      1        0.02875           007
1        1      2        0.02375  007 (series)
2        1      3        0.06250  18th century
3        1      4        0.07575         1920s
4        1      5        0.14075         1930s

From README file: "The tag genome encodes how strongly movies exhibit particular properties represented by tags (atmospheric, thought-provoking, realistic, etc.)."

In [10]:
# get the 5 most relevant tags for each movieId
relevant_tags = genome_tags_and_scores.sort_values(['movieId', 'tag_relevance']).groupby('movieId').tail(5)
relevant_tags.head(15)

      movieId  tagId  tag_relevance                 tag
63          1     64        0.98425           animation
588         1    589        0.98575     kids and family
785         1    786        0.99575     pixar animation
243         1    244        0.99875  computer animation
1035        1   1036        0.99925                toys
2078        2    951        0.93200     special effects
1715        2    588        0.95000                kids
1504        2    377        0.95175             fantasy
1331        2    204        0.95900            children
1156        2     29        0.97600           adventure
2997        3    742        0.75425            original
2485        3    230        0.85300              comedy
3157        3    902        0.93050             sequels
2706        3    451        0.96250         good sequel
3156        3    901        0.97525              sequel

In [11]:
relevant_tags['tag'].nunique()

1063

In [44]:
list_of_genres = ['(no genres listed)',
 'action',
 'adventure',
 'animation',
 'children',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'fantasy',
 'film-noir',
 'horror',
 'IMAX',
 'musical',
 'mystery',
 'romance',
 'sci-fi',
 'thriller',
 'war',
 'western']

In [ ]:
list_of_other = ['noir', 'science fiction', ]

In [17]:
user_tags = []

for element in relevant_tags['tag']:
    user_tags.append(element)

In [52]:
del(user_tags)

#### Dictionarize movieId and tag as key value pairs?